<li [ngClass]="{'list-group-item': true,
                'list-group-item-success': postListItemLoveIts > 0,
                'list-group-item-danger': postListItemLoveIts < 0}">

  <div>
    <span style="font-size: 24px"><strong>{{ postListItemTitle }}</strong></span> 
    
    <span style="float: right"> {{ postListItemCreatedAt | date: 'short' }}</span>
  </div>
  
  <p>{{postListItemContent}}</p>
  <button class="btn btn-success" (click)="onLike()" style="margin-right: 5px">Love It</button>
  <button class="btn btn-error" (click)="onNotLike()">Don't love it</button>


</li>
<br>